<button mat-button type="button" (click)="getUserCoordinates()">Me géocaliser</button>
<form [formGroup]="addressForm" novalidate>
  <mat-form-field>
    <input matInput type="text" autocapitalize="off" spellcheck="false" placeholder="Mon adresse" formControlName="address" #address/>
  </mat-form-field>
</form>
<button mat-button type="button" (click)="getRestaurantsCoordinates()">Chercher des restaurants</button>

<agm-map *ngIf="userMarker === null" [latitude]="parisMarker.latitude" [longitude]="parisMarker.longitude">
</agm-map>
<agm-map *ngIf="userMarker !== null" [fitBounds]="true">
  <agm-marker [latitude]="userMarker.latitude" [longitude]="userMarker.longitude" [agmFitBounds]="true"></agm-marker>
  <agm-marker *ngFor="let restaurant of restaurants" [latitude]="restaurant.latitude" [longitude]="restaurant.longitude" [agmFitBounds]="true"></agm-marker>
</agm-map>

<p>Restaurants à proximité de vous :</p>
<mat-card *ngFor="let restaurant of restaurants">
  <mat-card-header>
    <mat-card-title>ID : {{ restaurant.id }}</mat-card-title>
    <mat-card-subtitle>Nom : {{ restaurant.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Latitude : {{ restaurant.latitude }}</p>
    <p>Longitude : {{ restaurant.longitude }}</p>
    <p>Adresse : {{ restaurant.address }}</p>
    <p *ngIf="restaurant.picture">Photographie : {{ restaurant.picture }}</p>
    <p *ngIf="restaurant.isOpen">Actuellement ouvert : {{ restaurant.isOpen }}</p>
    <p *ngIf="restaurant.rating">Note : {{ restaurant.rating }}</p>
    <p *ngIf="restaurant.number_ratings">Nombre de notes : {{ restaurant.number_ratings }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addOpinion(restaurant)">Ajouter un avis</button>
  </mat-card-actions>
</mat-card>
