<h2 mat-dialog-title id="title"><mat-icon class="icon">add</mat-icon><span class="text">Ajouter un avis</span></h2>
<form mat-dialog-content [formGroup]="mealForm" (ngSubmit)="submitMeal()">
  <mat-form-field>
    <mat-label>Nom de l'entrée</mat-label>
    <input matInput type="text" autocomplete="off" autocapitalize="off" spellcheck="false" formControlName="starterName"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Avis de l'entrée</mat-label>
    <textarea matInput autocomplete="off" autocapitalize="off" spellcheck="false" formControlName="starterOpinion"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom du plat principal</mat-label>
    <input matInput type="text" autocomplete="off" autocapitalize="off" spellcheck="false" formControlName="mainCourseName"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Avis du plat principal</mat-label>
    <textarea matInput autocomplete="off" autocapitalize="off" spellcheck="false" formControlName="mainCourseOpinion"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom du dessert</mat-label>
    <input matInput type="text" autocomplete="off" autocapitalize="off" spellcheck="false" formControlName="dessertName"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Avis du dessert</mat-label>
    <textarea matInput autocomplete="off" autocapitalize="off" spellcheck="false" formControlName="dessertOpinion"></textarea>
  </mat-form-field>
  <div mat-dialog-actions id="buttons">
    <button mat-button type="button" (click)="cancelMeal($event)"><mat-icon class="icon">cancel</mat-icon><span class="text">Annuler</span></button>
    <button mat-button type="submit" [disabled]="mealForm.invalid"><span class="text">Envoyer</span><mat-icon class="icon right">send</mat-icon></button>
  </div>
</form>
